In [1]:
import pandas as pd

In [3]:
pop = pd.read_csv('est2018-pop-res.csv')

In [4]:
pop.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2018,POPEST18PLUS2018,PCNT_POPEST18PLUS
0,10,0,0,0,United States,327167434,253768092,77.6
1,40,3,6,1,Alabama,4887871,3798031,77.7
2,40,4,9,2,Alaska,737438,553622,75.1
3,40,4,8,4,Arizona,7171646,5528989,77.1
4,40,3,7,5,Arkansas,3013825,2310645,76.7

# Unique Values

Let's find out what kind of data is in each column:
* SUMLEV
* REGION
* DIVISION

In [5]:
pop['SUMLEV'].unique()

array([10, 40])

In [6]:
pop['DIVISION'].unique()

array(['0', '6', '9', '8', '7', '1', '5', '3', '4', '2', 'X'],
      dtype=object)

In [7]:
pop['REGION'].unique()

array(['0', '3', '4', '1', '2', 'X'], dtype=object)

In [8]:
pop['REGION'].value_counts()

REGION
3    17
4    13
2    12
1     9
0     1
X     1
Name: count, dtype: int64

In [9]:
pop[['SUMLEV','REGION']].value_counts()

SUMLEV  REGION
40      3         17
        4         13
        2         12
        1          9
10      0          1
40      X          1
Name: count, dtype: int64

# Value Counts on an already unique column?

We should get a series of counts where every count has a value of 1

In [10]:
pop['NAME'].value_counts()

NAME
United States               1
Montana                     1
Nevada                      1
New Hampshire               1
New Jersey                  1
New Mexico                  1
New York                    1
North Carolina              1
North Dakota                1
Ohio                        1
Oklahoma                    1
Oregon                      1
Pennsylvania                1
Rhode Island                1
South Carolina              1
South Dakota                1
Tennessee                   1
Texas                       1
Utah                        1
Vermont                     1
Virginia                    1
Washington                  1
West Virginia               1
Wisconsin                   1
Wyoming                     1
Nebraska                    1
Missouri                    1
Alabama                     1
Mississippi                 1
Alaska                      1
Arizona                     1
Arkansas                    1
California                  1
Colorado                    1
Connecticut                 1
Delaware                    1
District of Columbia        1
Florida                     1
Georgia                     1
Hawaii                      1
Idaho                       1
Illinois                    1
Indiana                     1
Iowa                        1
Kansas                      1
Kentucky                    1
Louisiana                   1
Maine                       1
Maryland                    1
Massachusetts               1
Michigan                    1
Minnesota                   1
Puerto Rico Commonwealth    1
Name: count, dtype: int64

In [11]:
(pop['NAME'].value_counts() == 1).all()

True

In [12]:
(pop['DIVISION'].value_counts() == 1).any()

True

## Let's check...

What is the count of counts?

In [13]:
pop['NAME'].value_counts()

NAME
United States               1
Montana                     1
Nevada                      1
New Hampshire               1
New Jersey                  1
New Mexico                  1
New York                    1
North Carolina              1
North Dakota                1
Ohio                        1
Oklahoma                    1
Oregon                      1
Pennsylvania                1
Rhode Island                1
South Carolina              1
South Dakota                1
Tennessee                   1
Texas                       1
Utah                        1
Vermont                     1
Virginia                    1
Washington                  1
West Virginia               1
Wisconsin                   1
Wyoming                     1
Nebraska                    1
Missouri                    1
Alabama                     1
Mississippi                 1
Alaska                      1
Arizona                     1
Arkansas                    1
California                  1
Colorado                    1
Connecticut                 1
Delaware                    1
District of Columbia        1
Florida                     1
Georgia                     1
Hawaii                      1
Idaho                       1
Illinois                    1
Indiana                     1
Iowa                        1
Kansas                      1
Kentucky                    1
Louisiana                   1
Maine                       1
Maryland                    1
Massachusetts               1
Michigan                    1
Minnesota                   1
Puerto Rico Commonwealth    1
Name: count, dtype: int64

In [14]:
pop['NAME'].value_counts().value_counts()

count
1    53
Name: count, dtype: int64

In [15]:
pop['DIVISION'].value_counts().value_counts()

count
5    2
4    2
1    2
9    1
8    1
7    1
6    1
3    1
Name: count, dtype: int64

# Unique based on multiple columns

In [16]:
pop.groupby(['SUMLEV','REGION','DIVISION']).count()

                        STATE  NAME  POPESTIMATE2018  POPEST18PLUS2018  \
SUMLEV REGION DIVISION
10     0      0             1     1                1                 1
40     1      1             6     6                6                 6
              2             3     3                3                 3
       2      3             5     5                5                 5
              4             7     7                7                 7
       3      5             9     9                9                 9
              6             4     4                4                 4
              7             4     4                4                 4
       4      8             8     8                8                 8
              9             5     5                5                 5
       X      X             1     1                1                 1

                        PCNT_POPEST18PLUS
SUMLEV REGION DIVISION
10     0      0                         1
40     1      1                         6
              2                         3
       2      3                         5
              4                         7
       3      5                         9
              6                         4
              7                         4
       4      8                         8
              9                         5
       X      X                         1

In [17]:
groupings = pop.groupby(['SUMLEV','REGION','DIVISION']).count()
len(groupings)

11

# Another data set

https://data.medicare.gov/resource/ukfj-tt6v.csv

Complications and deaths - provider data. This data set includes provider-level data for the hip/knee complication measure, the CMS Patient Safety Indicators, and 30-day death rates.

In [18]:
data = pd.read_csv('complications.csv')

In [19]:
data.shape

(1000, 18)

In [20]:
data.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [21]:
data['measure_id'].value_counts()

measure_id
COMP_HIP_KNEE                53
PSI_10_POST_KIDNEY           53
PSI_14_POSTOP_DEHIS          53
PSI_13_POST_SEPSIS           53
MORT_30_AMI                  53
PSI_11_POST_RESP             53
PSI_12_POSTOP_PULMEMB_DVT    53
MORT_30_STK                  53
MORT_30_PN                   53
MORT_30_HF                   53
MORT_30_COPD                 53
MORT_30_CABG                 53
PSI_15_ACC_LAC               52
PSI_3_ULCER                  52
PSI_4_SURG_COMP              52
PSI_6_IAT_PTX                52
PSI_8_POST_HIP               52
PSI_90_SAFETY                52
PSI_9_POST_HEM               52
Name: count, dtype: int64

In [22]:
len(data['measure_id'].value_counts())

19

In [23]:
data['provider_id'].value_counts()

provider_id
10001    19
10052    19
10056    19
10058    19
10059    19
10061    19
10062    19
10065    19
10069    19
10073    19
10078    19
10079    19
10083    19
10085    19
10086    19
10087    19
10089    19
10090    19
10091    19
10092    19
10095    19
10097    19
10099    19
10100    19
10101    19
10055    19
10051    19
10005    19
10049    19
10006    19
10007    19
10008    19
10011    19
10012    19
10016    19
10018    19
10019    19
10021    19
10022    19
10023    19
10024    19
10029    19
10033    19
10034    19
10035    19
10036    19
10038    19
10039    19
10040    19
10044    19
10045    19
10046    19
10102    12
Name: count, dtype: int64

In [24]:
data[['provider_id','measure_id']].value_counts()

provider_id  measure_id
10001        COMP_HIP_KNEE          1
10069        MORT_30_STK            1
10065        PSI_15_ACC_LAC         1
             PSI_3_ULCER            1
             PSI_4_SURG_COMP        1
                                   ..
10035        PSI_6_IAT_PTX          1
             PSI_8_POST_HIP         1
             PSI_90_SAFETY          1
             PSI_9_POST_HEM         1
10102        PSI_14_POSTOP_DEHIS    1
Name: count, Length: 1000, dtype: int64

In [25]:
(data[['provider_id','measure_id']].value_counts() == 1).all()

True

In [27]:
hccaps = pd.read_csv('hhcaps.csv')

In [ ]:
hccaps.head()

,State,CMS Certification Number (CCN)*,Provider Name,Address,City,Zip,Phone,Type of Ownership,Offers Nursing Care Services,Offers Physical Therapy Services,...,Star Rating for how patients rated overall care from agency,Footnote for Star Rating for overall care from agency,Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),Footnote for percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),"Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family","Footnote for percent of patients who reported YES, they would definitely recommend the home health agency to friends and family",Number of completed Surveys,Footnote for number of completed surveys,Response rate,Footnote for response rate
0,AL,17000,BUREAU OF HOME & COMMUNITY SERVICES ...,"201 MONROE STREET, THE RSA TOWER, SUITE 1200 ...",MONTGOMERY,36104,3342065341,Official Health Agency,True,True,...,NaN,No survey results are available for this period.,Not Available,No survey results are available for this period.,Not Available,No survey results are available for this period.,Not Available,No survey results are available for this period.,Not Available,No survey results are available for this period.
1,AL,17008,JEFFERSON COUNTY HOME CARE ...,2201 ARLINGTON AVENUE ...,BESSEMER,35020,2059169500,Official Health Agency,True,True,...,4.0,Fewer than 100 patients completed the survey. ...,91,Fewer than 100 patients completed the survey. ...,77,Fewer than 100 patients completed the survey. ...,55,Fewer than 100 patients completed the survey. ...,23,Fewer than 100 patients completed the survey. ...
2,AL,17009,ALACARE HOME HEALTH & HOSPICE ...,2970 LORNA ROAD ...,BIRMINGHAM,35216,2058242680,Local,True,True,...,4.0,NaN,88,NaN,81,NaN,327,NaN,32,NaN
3,AL,17013,GENTIVA HEALTH SERVICES ...,1239 RUCKER BLVD ...,ENTERPRISE,36330,3343470234,Official Health Agency,True,True,...,4.0,NaN,91,NaN,91,NaN,252,NaN,34,NaN
4,AL,17014,AMEDISYS HOME HEALTH ...,68278 MAIN STREET ...,BLOUNTSVILLE,35031,2054294919,Local,True,True,...,4.0,NaN,88,NaN,79,NaN,205,NaN,34,NaN

In [28]:
(hccaps['CMS Certification Number (CCN)*'].value_counts() == 1).all()

True

In [29]:
hccaps['State'].value_counts()

State
TX    2518
CA    1319
FL    1069
OH     781
IL     735
MI     597
PA     425
MA     261
OK     256
VA     244
IN     229
MN     197
LA     195
CO     187
NC     174
AR     172
AZ     169
MO     169
IA     163
AL     152
NV     143
NY     141
TN     140
WI     119
KS     117
GA     106
KY     104
UT      98
CT      91
NM      77
NE      75
SC      70
WA      63
WV      61
OR      57
MD      53
MS      48
NJ      47
ID      45
PR      45
SD      33
NH      31
DC      28
MT      27
RI      27
WY      26
DE      26
ME      24
ND      18
HI      16
AK      14
VT      11
GU       4
MP       2
VI       1
Name: count, dtype: int64

In [30]:
hccaps.shape

(12000, 39)

In [31]:
hccaps.groupby(['Phone']).count()

,State,CMS Certification Number (CCN)*,Provider Name,Address,City,Zip,Type of Ownership,Offers Nursing Care Services,Offers Physical Therapy Services,Offers Occupational Therapy Services,...,Star Rating for how patients rated overall care from agency,Footnote for Star Rating for overall care from agency,Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),Footnote for percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),"Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family","Footnote for percent of patients who reported YES, they would definitely recommend the home health agency to friends and family",Number of completed Surveys,Footnote for number of completed surveys,Response rate,Footnote for response rate
Phone,,,,,,,,,,,,,,,,,,,,,
2012916000,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
2013392500,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
2013426311,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
2013582666,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
2013776000,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9897996020,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
9898462222,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
9898562800,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
9898934504,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0
9898949114,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [32]:
hccaps.groupby(['State']).count()

,CMS Certification Number (CCN)*,Provider Name,Address,City,Zip,Phone,Type of Ownership,Offers Nursing Care Services,Offers Physical Therapy Services,Offers Occupational Therapy Services,...,Star Rating for how patients rated overall care from agency,Footnote for Star Rating for overall care from agency,Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),Footnote for percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest),"Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family","Footnote for percent of patients who reported YES, they would definitely recommend the home health agency to friends and family",Number of completed Surveys,Footnote for number of completed surveys,Response rate,Footnote for response rate
State,,,,,,,,,,,,,,,,,,,,,
AK,14,14,14,14,14,14,14,14,14,14,...,6,13,14,13,14,13,14,13,14,13
AL,152,152,152,152,152,152,152,152,152,152,...,130,62,152,62,152,62,152,62,152,62
AR,172,172,172,172,172,172,172,172,172,172,...,78,112,172,112,172,112,172,112,172,112
AZ,169,169,169,169,169,169,169,169,169,169,...,83,111,169,111,169,111,169,111,169,111
CA,1319,1319,1319,1319,1319,1319,1319,1319,1319,1319,...,488,1069,1319,1069,1319,1069,1319,1069,1319,1069
CO,187,187,187,187,187,187,187,187,187,187,...,96,130,187,130,187,130,187,130,187,130
CT,91,91,91,91,91,91,91,91,91,91,...,69,37,91,37,91,37,91,37,91,37
DC,28,28,28,28,28,28,28,28,28,28,...,6,24,28,24,28,24,28,24,28,24
DE,26,26,26,26,26,26,26,26,26,26,...,13,16,26,16,26,16,26,16,26,16
FL,1069,1069,1069,1069,1069,1069,1069,1069,1069,1069,...,482,755,1069,755,1069,755,1069,755,1069,755
GA,106,106,106,106,106,106,106,106,106,106,...,97,20,106,20,106,20,106,20,106,20
GU,4,4,4,4,4,4,4,4,4,4,...,0,4,4,4,4,4,4,4,4,4
HI,16,16,16,16,16,16,16,16,16,16,...,11,10,16,10,16,10,16,10,16,10
IA,163,163,163,163,163,163,163,163,163,163,...,98,122,163,122,163,122,163,122,163,122
ID,45,45,45,45,45,45,45,45,45,45,...,36,25,45,25,45,25,45,25,45,25
IL,735,735,735,735,735,735,735,735,735,735,...,289,593,735,593,735,593,735,593,735,593
IN,229,229,229,229,229,229,229,229,229,229,...,133,147,229,147,229,147,229,147,229,147
KS,117,117,117,117,117,117,117,117,117,117,...,66,74,117,74,117,74,117,74,117,74
KY,104,104,104,104,104,104,104,104,104,104,...,97,25,104,25,104,25,104,25,104,25
LA,195,195,195,195,195,195,195,195,195,195,...,164,75,195,75,195,75,195,75,195,75
MA,261,261,261,261,261,261,261,261,261,261,...,104,180,261,180,261,180,261,180,261,180
MD,53,53,53,53,53,53,53,53,53,53,...,46,10,53,10,53,10,53,10,53,10
ME,24,24,24,24,24,24,24,24,24,24,...,20,10,24,10,24,10,24,10,24,10
MI,597,597,597,597,597,597,597,597,597,597,...,215,476,597,476,597,476,597,476,597,476
MN,197,197,197,197,197,197,197,197,197,197,...,101,151,197,151,197,151,197,151,197,151
MO,169,169,169,169,169,169,169,169,169,169,...,113,96,169,96,169,96,169,96,169,96
MP,2,2,2,2,2,2,2,2,2,2,...,0,2,2,2,2,2,2,2,2,2
MS,48,48,48,48,48,48,48,48,48,48,...,44,7,48,7,48,7,48,7,48,7
MT,27,27,27,27,27,27,27,27,27,27,...,18,20,27,20,27,20,27,20,27,20
NC,174,174,174,174,174,174,174,174,174,174,...,152,49,174,49,174,49,174,49,174,49
ND,18,18,18,18,18,18,18,18,18,18,...,12,10,18,10,18,10,18,10,18,10
NE,75,75,75,75,75,75,75,75,75,75,...,36,54,75,54,75,54,75,54,75,54
NH,31,31,31,31,31,31,31,31,31,31,...,22,13,31,13,31,13,31,13,31,13
NJ,47,47,47,47,47,47,47,47,47,47,...,42,9,47,9,47,9,47,9,47,9
NM,77,77,77,77,77,77,77,77,77,77,...,56,50,77,50,77,50,77,50,77,50
NV,143,143,143,143,143,143,143,143,143,143,...,71,119,143,119,143,119,143,119,143,119
NY,141,141,141,141,141,141,141,141,141,141,...,103,54,141,54,141,54,141,54,141,54
OH,781,781,781,781,781,781,781,781,781,781,...,288,604,781,604,781,604,781,604,781,604
OK,256,256,256,256,256,256,256,256,256,256,...,171,174,256,174,256,174,256,174,256,174
OR,57,57,57,57,57,57,57,57,57,57,...,44,23,57,23,57,23,57,23,57,23
PA,425,425,425,425,425,425,425,425,425,425,...,209,265,425,265,425,265,425,265,425,265
PR,45,45,45,45,45,45,45,45,45,45,...,26,28,45,28,45,28,45,28,45,28
RI,27,27,27,27,27,27,27,27,27,27,...,19,10,27,10,27,10,27,10,27,10
SC,70,70,70,70,70,70,70,70,70,70,...,60,23,70,23,70,23,70,23,70,23
SD,33,33,33,33,33,33,33,33,33,33,...,12,26,33,26,33,26,33,26,33,26
TN,140,140,140,140,140,140,140,140,140,140,...,118,45,140,45,140,45,140,45,140,45
TX,2518,2518,2518,2518,2518,2518,2518,2518,2518,2518,...,807,2145,2518,2145,2518,2145,2518,2145,2518,2145
UT,98,98,98,98,98,98,98,98,98,98,...,53,70,98,70,98,70,98,70,98,70
VA,244,244,244,244,244,244,244,244,244,244,...,149,142,244,142,244,142,244,142,244,142
VI,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
VT,11,11,11,11,11,11,11,11,11,11,...,11,1,11,1,11,1,11,1,11,1
WA,63,63,63,63,63,63,63,63,63,63,...,56,16,63,16,63,16,63,16,63,16
WI,119,119,119,119,119,119,119,119,119,119,...,69,76,119,76,119,76,119,76,119,76
WV,61,61,61,61,61,61,61,61,61,61,...,51,25,61,25,61,25,61,25,61,25
WY,26,26,26,26,26,26,26,26,26,26,...,12,21,26,21,26,21,26,21,26,21

In [33]:
hccaps.groupby(['State','Provider Name']).count()

                                                          CMS Certification Number (CCN)*  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                  1
      ALASKAN HOME HEALTH, INC                                                          1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                   1
      FRONTIER HOME HEALTH                                                              1
      HOME BASED SERVICES                                                               1
...                                                                                   ...
WY    ST JOHN'S HOME CARE                                                               1
      UINTA HOME HEALTH                                                                 1
      WEST PARK HOSPITAL HOME HEALTH                                                    1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                         1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                             1

                                                          Address  City  Zip  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                          1     1    1
      ALASKAN HOME HEALTH, INC                                  1     1    1
      FAIRBANKS MEMORIAL HOSPITAL HHA                           1     1    1
      FRONTIER HOME HEALTH                                      1     1    1
      HOME BASED SERVICES                                       1     1    1
...                                                           ...   ...  ...
WY    ST JOHN'S HOME CARE                                       1     1    1
      UINTA HOME HEALTH                                         1     1    1
      WEST PARK HOSPITAL HOME HEALTH                            1     1    1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                 1     1    1
      YOUNG AT HEART SENIOR CITIZENS CENTER                     1     1    1

                                                          Phone  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                        1
      ALASKAN HOME HEALTH, INC                                1
      FAIRBANKS MEMORIAL HOSPITAL HHA                         1
      FRONTIER HOME HEALTH                                    1
      HOME BASED SERVICES                                     1
...                                                         ...
WY    ST JOHN'S HOME CARE                                     1
      UINTA HOME HEALTH                                       1
      WEST PARK HOSPITAL HOME HEALTH                          1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH               1
      YOUNG AT HEART SENIOR CITIZENS CENTER                   1

                                                          Type of Ownership  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                    1
      ALASKAN HOME HEALTH, INC                                            1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                     1
      FRONTIER HOME HEALTH                                                1
      HOME BASED SERVICES                                                 1
...                                                                     ...
WY    ST JOHN'S HOME CARE                                                 1
      UINTA HOME HEALTH                                                   1
      WEST PARK HOSPITAL HOME HEALTH                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                           1
      YOUNG AT HEART SENIOR CITIZENS CENTER                               1

                                                          Offers Nursing Care Services  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                               1
      ALASKAN HOME HEALTH, INC                                                       1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                1
      FRONTIER HOME HEALTH                                                           1
      HOME BASED SERVICES                                                            1
...                                                                                ...
WY    ST JOHN'S HOME CARE                                                            1
      UINTA HOME HEALTH                                                              1
      WEST PARK HOSPITAL HOME HEALTH                                                 1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                      1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                          1

                                                          Offers Physical Therapy Services  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                   1
      ALASKAN HOME HEALTH, INC                                                           1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                    1
      FRONTIER HOME HEALTH                                                               1
      HOME BASED SERVICES                                                                1
...                                                                                    ...
WY    ST JOHN'S HOME CARE                                                                1
      UINTA HOME HEALTH                                                                  1
      WEST PARK HOSPITAL HOME HEALTH                                                     1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                          1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                              1

                                                          Offers Occupational Therapy Services  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                       1
      ALASKAN HOME HEALTH, INC                                                               1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                        1
      FRONTIER HOME HEALTH                                                                   1
      HOME BASED SERVICES                                                                    1
...                                                                                        ...
WY    ST JOHN'S HOME CARE                                                                    1
      UINTA HOME HEALTH                                                                      1
      WEST PARK HOSPITAL HOME HEALTH                                                         1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                              1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                  1

                                                          Offers Speech Pathology Services  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                   1
      ALASKAN HOME HEALTH, INC                                                           1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                    1
      FRONTIER HOME HEALTH                                                               1
      HOME BASED SERVICES                                                                1
...                                                                                    ...
WY    ST JOHN'S HOME CARE                                                                1
      UINTA HOME HEALTH                                                                  1
      WEST PARK HOSPITAL HOME HEALTH                                                     1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                          1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                              1

                                                          ...  \
State Provider Name                                       ...
AK    1ST CHOICE HOME HEALTH CARE, INC                    ...
      ALASKAN HOME HEALTH, INC                            ...
      FAIRBANKS MEMORIAL HOSPITAL HHA                     ...
      FRONTIER HOME HEALTH                                ...
      HOME BASED SERVICES                                 ...
...                                                       ...
WY    ST JOHN'S HOME CARE                                 ...
      UINTA HOME HEALTH                                   ...
      WEST PARK HOSPITAL HOME HEALTH                      ...
      WESTON COUNTY HEALTH SERVICES HOME HEALTH           ...
      YOUNG AT HEART SENIOR CITIZENS CENTER               ...

                                                          Star Rating for how patients rated overall care from agency  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                                    1
      ALASKAN HOME HEALTH, INC                                                                            0
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                                     1
      FRONTIER HOME HEALTH                                                                                1
      HOME BASED SERVICES                                                                                 0
...                                                                                                     ...
WY    ST JOHN'S HOME CARE                                                                                 0
      UINTA HOME HEALTH                                                                                   0
      WEST PARK HOSPITAL HOME HEALTH                                                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                           0
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                               0

                                                          Footnote for Star Rating for overall care from agency  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                                    1
      ALASKAN HOME HEALTH, INC                                                                            1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                                     1
      FRONTIER HOME HEALTH                                                                                1
      HOME BASED SERVICES                                                                                 1
...                                                                                                     ...
WY    ST JOHN'S HOME CARE                                                                                 1
      UINTA HOME HEALTH                                                                                   1
      WEST PARK HOSPITAL HOME HEALTH                                                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                           1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                               1

                                                          Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest)  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                                    1
      ALASKAN HOME HEALTH, INC                                                                            1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                                     1
      FRONTIER HOME HEALTH                                                                                1
      HOME BASED SERVICES                                                                                 1
...                                                                                                     ...
WY    ST JOHN'S HOME CARE                                                                                 1
      UINTA HOME HEALTH                                                                                   1
      WEST PARK HOSPITAL HOME HEALTH                                                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                           1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                               1

                                                          Footnote for percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest)  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                                    1
      ALASKAN HOME HEALTH, INC                                                                            1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                                     1
      FRONTIER HOME HEALTH                                                                                1
      HOME BASED SERVICES                                                                                 1
...                                                                                                     ...
WY    ST JOHN'S HOME CARE                                                                                 1
      UINTA HOME HEALTH                                                                                   1
      WEST PARK HOSPITAL HOME HEALTH                                                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                           1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                               1

                                                          Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                                    1
      ALASKAN HOME HEALTH, INC                                                                            1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                                     1
      FRONTIER HOME HEALTH                                                                                1
      HOME BASED SERVICES                                                                                 1
...                                                                                                     ...
WY    ST JOHN'S HOME CARE                                                                                 1
      UINTA HOME HEALTH                                                                                   1
      WEST PARK HOSPITAL HOME HEALTH                                                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                           1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                               1

                                                          Footnote for percent of patients who reported YES, they would definitely recommend the home health agency to friends and family  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                                    1
      ALASKAN HOME HEALTH, INC                                                                            1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                                     1
      FRONTIER HOME HEALTH                                                                                1
      HOME BASED SERVICES                                                                                 1
...                                                                                                     ...
WY    ST JOHN'S HOME CARE                                                                                 1
      UINTA HOME HEALTH                                                                                   1
      WEST PARK HOSPITAL HOME HEALTH                                                                      1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                           1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                               1

                                                          Number of completed Surveys  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                              1
      ALASKAN HOME HEALTH, INC                                                      1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                               1
      FRONTIER HOME HEALTH                                                          1
      HOME BASED SERVICES                                                           1
...                                                                               ...
WY    ST JOHN'S HOME CARE                                                           1
      UINTA HOME HEALTH                                                             1
      WEST PARK HOSPITAL HOME HEALTH                                                1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                     1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                         1

                                                          Footnote for number of completed surveys  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                                           1
      ALASKAN HOME HEALTH, INC                                                                   1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                                            1
      FRONTIER HOME HEALTH                                                                       1
      HOME BASED SERVICES                                                                        1
...                                                                                            ...
WY    ST JOHN'S HOME CARE                                                                        1
      UINTA HOME HEALTH                                                                          1
      WEST PARK HOSPITAL HOME HEALTH                                                             1
      WESTON COUNTY HEALTH SERVICES HOME HEALTH                                                  1
      YOUNG AT HEART SENIOR CITIZENS CENTER                                                      1

                                                          Response rate  \
State Provider Name
AK    1ST CHOICE HOME HEALTH CARE, INC                                1
      ALASKAN HOME HEALTH, INC                                        1
      FAIRBANKS MEMORIAL HOSPITAL HHA                                 1
      FRONTIER HOME HEALTH                                            1

In [34]:
hccaps['Phone'].value_counts().value_counts()

count
1     11813
2        74
3         6
5         2
11        1
Name: count, dtype: int64